<div
  class="flex h-[75px] items-center justify-between border-b border-neutral-200 p-4 dark:border-neutral-800"
>
  <span class="text-primary-800 dark:text-primary-200 text-xl font-bold">Menu</span>
  <button
    type="button"
    iconBtn
    btnSecondary
    ariaLabel="Close menu"
    [icon]="LucideX"
    (click)="close()"
  ></button>
</div>

<nav class="flex flex-1 flex-col gap-2 p-4">
  @for (item of mainMenuItems(); track item.link) {
    <app-sidebar-menu-item
      [title]="item.title"
      [link]="item.link"
      [icon]="item.icon"
      [linkActiveOptions]="item.linkActiveOptions"
      (click)="close()"
    ></app-sidebar-menu-item>
  }

  @if (accountMenuItems().length) {
    <div class="my-2 border-t border-neutral-200 dark:border-neutral-800"></div>

    @for (item of accountMenuItems(); track item.link) {
      <app-sidebar-menu-item
        [title]="item.title"
        [link]="item.link"
        [icon]="item.icon"
        [linkActiveOptions]="item.linkActiveOptions"
        (click)="close()"
      ></app-sidebar-menu-item>
    }
  }

  @if (footerMenuItems().length) {
    <div class="mt-auto">
      @for (item of footerMenuItems(); track item.link) {
        <app-sidebar-menu-item
          [title]="item.title"
          [link]="item.link"
          [icon]="item.icon"
          [linkActiveOptions]="item.linkActiveOptions"
          (click)="close()"
        ></app-sidebar-menu-item>
      }
    </div>
  }
</nav>

<div
  class="fixed top-0 right-0 bottom-0 left-64 bg-transparent"
  id="backdrop"
  tabindex="-1"
  backdrop
  (click)="close()"
></div>
