<label
  class="flex cursor-pointer items-center gap-3 transition-colors"
  #label
  role="region"
  [class]="{
    'text-red-400': isInvalid(),
    'dark:text-red-500': isInvalid(),
  }"
  (click)="onLabelClick()"
  (keydown.enter)="onLabelKeydown()"
  (keydown.space)="onLabelKeydown()"
>
  <input
    class="accent-primary-500 focus:ring-primary-400 h-4 w-4 rounded border-neutral-300"
    type="checkbox"
    [checked]="checked()"
    [disabled]="disabled()"
    (change)="onChange($event)"
  />
  <ng-content></ng-content>
</label>
