<div
  class="w-full max-w-md rounded-2xl bg-white p-8 shadow-xl ring-1 ring-neutral-200 transition-all
    dark:bg-neutral-800 dark:ring-neutral-700"
>
  <div class="mb-8 text-center">
    <h1 class="text-primary-800 dark:text-primary-300 mb-2 text-3xl font-bold">Bem-vindo(a)</h1>
    <p class="text-neutral-500 dark:text-neutral-400">Por favor, faça login para continuar</p>
  </div>

  <form class="flex flex-col gap-6" [formRoot]="loginForm">
    <app-form-field>
      <label appLabel for="email">E-mail</label>
      <input
        id="email"
        appInput
        type="email"
        placeholder="E-mail"
        autocomplete="email"
        autoFocus
        [formField]="loginForm.email"
      />
    </app-form-field>

    <app-form-field>
      <label appLabel for="password">Senha</label>
      <input
        id="password"
        appInput
        type="password"
        placeholder="Senha"
        autocomplete="current-password"
        [formField]="loginForm.password"
      />
    </app-form-field>

    <a
      class="text-primary-600 hover:text-primary-500 dark:text-primary-400 text-sm font-medium
        transition-colors"
      routerLink="/forgot-password"
    >
      Esqueci minha senha
    </a>

    <div class="mt-2">
      <button
        class="w-full justify-center py-3 text-lg"
        btn
        btnPrimary
        type="submit"
        [disabled]="loginForm().invalid() || loginForm().submitting()"
        [btnLoading]="loginForm().submitting()"
      >
        Fazer login
        <app-icon [icon]="LucideLogIn"></app-icon>
      </button>
    </div>

    @if (errorMessage(); as message) {
      <app-alert error>
        {{ message }}
      </app-alert>
    }
  </form>
</div>
