<ng-content select="label[appLabel]"></ng-content>
<ng-content select="input[appInput]"></ng-content>
<ng-content select="select[appSelect]"></ng-content>
<ng-content select="app-checkbox"></ng-content>
@let error = firstError();
@if (error && input()?.isInvalid()) {
  <p class="min-h-5 text-xs text-red-500 dark:text-red-300">{{ error.message }}</p>
} @else {
  <div class="flex min-h-5 justify-between text-xs opacity-90">
    <ng-content select="app-hint[start]"></ng-content>
    <ng-content select="app-hint[end]"></ng-content>
  </div>
}
