<section class="buttons">
  <h1>Button</h1>
  <section>
    <button btn btnPrimary>Primary</button>
    <button btn btnSecondary>Secondary</button>
    <button btn btnOutline>Outline</button>
    <button btn>Text</button>
  </section>

  <section>
    <button btn btnPrimary disabled>Primary</button>
    <button btn btnSecondary disabled>Secondary</button>
    <button btn btnOutline disabled>Outline</button>
    <button btn disabled>Text</button>
  </section>
</section>

<!--Button Toggle Group-->

<section>
  <h1>Button Toggle</h1>

  <section>
    <app-button-toggle-group label="Tipo de serviço" [formField]="f.buttonToggle">
      <button btnToggle value="facial">Facial</button>
      <button btnToggle value="corporal">Corporal</button>
      <button btnToggle value="depilacao">Depilação</button>
    </app-button-toggle-group>

    Value: {{ f().value().buttonToggle }}
  </section>
  <section>
    <app-button-toggle-group label="Tipo de serviço" [formField]="f.buttonToggle">
      <button btnToggle value="facial" disabled>Facial</button>
      <button btnToggle value="corporal">Corporal</button>
      <button btnToggle value="depilacao">Depilação</button>
    </app-button-toggle-group>

    Value: {{ f().value().buttonToggle }}
  </section>
</section>
