<div
  class="w-full max-w-lg rounded-2xl bg-white p-8 shadow-xl ring-1 ring-neutral-200 transition-all dark:bg-neutral-800 dark:ring-neutral-700"
>
  <div class="mb-8 text-center">
    <h1 class="text-primary-800 dark:text-primary-300 mb-2 text-3xl font-bold">
      Suas Organizações
    </h1>
    <p class="text-neutral-500 dark:text-neutral-400">
      Selecione a organização que deseja acessar hoje
    </p>
  </div>

  <div class="flex flex-col gap-4">
    @for (organization of organizations(); track organization.id) {
      <button
        type="button"
        (click)="selectOrganization(organization)"
        class="group hover:border-primary-300 dark:hover:border-primary-700 dark:hover:bg-primary-950/30 flex cursor-pointer items-center justify-between rounded-xl border border-neutral-200 bg-neutral-50 p-5 text-left transition-all hover:shadow-md dark:border-neutral-700 dark:bg-neutral-900"
      >
        <div class="flex items-center gap-4">
          <div
            class="bg-primary-100 text-primary-600 group-hover:bg-primary-200 dark:bg-primary-900/50 dark:text-primary-400 dark:group-hover:bg-primary-800/50 flex h-12 w-12 items-center justify-center rounded-full transition-colors"
          >
            <!-- In case we have a logo, we could use NgOptimizedImage here. For now, using a placeholder initial -->
            <span class="text-xl font-bold uppercase">{{ organization.name.charAt(0) }}</span>
          </div>
          <div>
            <h3
              class="group-hover:text-primary-700 dark:group-hover:text-primary-300 font-bold text-neutral-800 dark:text-neutral-100"
            >
              {{ organization.name }}
            </h3>
            <p class="text-sm text-neutral-500 dark:text-neutral-400">Clique para entrar</p>
          </div>
        </div>

        <div
          class="group-hover:text-primary-400 dark:group-hover:text-primary-500 text-neutral-300 transition-colors dark:text-neutral-600"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="h-6 w-6"
          >
            <path d="m9 18 6-6-6-6" />
          </svg>
          <!--          TODO add icon library-->
        </div>
      </button>
    } @empty {
      <div
        class="rounded-xl border border-dashed border-neutral-300 p-8 text-center dark:border-neutral-700"
      >
        <p class="text-neutral-500 dark:text-neutral-400">Nenhuma organização encontrada.</p>
      </div>
    }
  </div>
</div>
