<header
  class="w-full border-b border-neutral-200 bg-neutral-50 px-8 py-4 font-sans dark:border-neutral-800 dark:bg-neutral-900"
>
  <div class="mx-auto flex max-w-[1200px] items-center justify-between">
    <div class="text-primary-800 dark:text-primary-200 text-xl font-bold">
      <span>Estética Prototype</span>
    </div>

    @if (isLoggedIn()) {
      <div class="flex items-center gap-4 text-sm text-neutral-700 dark:text-neutral-300">
        @if (organization(); as org) {
          <a btn type="button" routerLink="/organizations">{{ org.name }}</a>
          <span class="text-neutral-300 dark:text-neutral-600">|</span>
        }
        <span class="text-neutral-600 dark:text-neutral-400">{{ user()?.name }}</span>
        <button
          type="button"
          iconBtn
          btnSecondary
          [icon]="theme() === 'dark' ? LucideSun : LucideMoon"
          (click)="changeTheme()"
          ariaLabel="Toggle dark mode"
        ></button>
        <button
          type="button"
          iconBtn
          btnSecondary
          [icon]="LucideLogOut"
          ariaLabel="Logout"
          (click)="logout()"
        ></button>
      </div>
    }
  </div>
</header>
