<table cdk-table [dataSource]="dataSource" [trackBy]="trackBy()">
  @for (column of columns(); track column.key) {
    <ng-container [cdkColumnDef]="column.key | string">
      <th cdk-header-cell *cdkHeaderCellDef>{{ column.title }}</th>
      <td cdk-cell *cdkCellDef="let row" (click)="onCellClick(row, column)">
        @switch (column.type) {
          @case ('template') {
            <ng-container
              [ngTemplateOutlet]="column.template()"
              [ngTemplateOutletContext]="{ row, column }"
            ></ng-container>
          }
          @case ('date') {
            {{ row[column.key] | date: column.format }}
          }
          @case ('number') {
            {{ row[column.key] | number: column.digitsInfo }}
          }
          @case ('currency') {
            {{ row[column.key] | currency: column.currency }}
          }
          @default {
            {{ row[column.key] }}
          }
        }
      </td>
    </ng-container>
  }
  <tr cdk-header-row *cdkHeaderRowDef="columnKeys()"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columnKeys()"></tr>
</table>
