<table cdk-table [dataSource]="dataSource" [trackBy]="trackBy()">
  @for (column of columns(); track column.key) {
    <ng-container [cdkColumnDef]="column.key | string">
      <th cdk-header-cell *cdkHeaderCellDef>{{ column.title }}</th>
      <td cdk-cell *cdkCellDef="let row" (click)="onCellClick(row, column)">
        @let value = row[column.key];
        @let isNullish = value === null || value === undefined;
        @if (isNullish && column.skipFormatDefaultValue) {
          {{ column.defaultValue }}
        } @else {
          @switch (column.type) {
            @case ('template') {
              <ng-container
                [ngTemplateOutlet]="column.template()"
                [ngTemplateOutletContext]="{ row, column }"
              ></ng-container>
            }
            @case ('date') {
              {{ value | date: column.format }}
            }
            @case ('number') {
              {{ value | number: column.digitsInfo }}
            }
            @case ('currency') {
              {{ value | currency: column.currency }}
            }
            @default {
              {{ value }}
            }
          }
        }
      </td>
    </ng-container>
  }
  <tr cdk-header-row *cdkHeaderRowDef="columnKeys()"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columnKeys()"></tr>
</table>
