<table cdk-table [dataSource]="dataSource" [trackBy]="trackBy()">
  @for (column of columns(); track column.key) {
    <ng-container [cdkColumnDef]="column.key | string">
      <th cdk-header-cell *cdkHeaderCellDef>{{ column.title }}</th>
      <td cdk-cell *cdkCellDef="let row" (click)="onCellClick(row, column)">
        @let template = column.template?.();
        @if (template) {
          <ng-container
            [ngTemplateOutlet]="template"
            [ngTemplateOutletContext]="{ row, column }"
          ></ng-container>
        } @else {
          {{ row[column.key] }}
        }
      </td>
    </ng-container>
  }
  <tr cdk-header-row *cdkHeaderRowDef="columnKeys()"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columnKeys()"></tr>
</table>
